<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/welcome">Home</a>
                </li>
                <!--Invoices-->
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/invoices">Facturas</a>
                </li>
                <!--Products-->
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/productos">Productos</a>
                </li>
                <!--Users-->
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/usuarios">Usuarios</a>
                </li>
                
            </ul>
        </div>
        <div class="collapse navbar-collapse justify-content-end" id="navbarAuth">
            <span class="nav-item nav-link text-primary mx-3">
                @if(login.isAuth){
                    <button class="btn btn-outline-primary" (click)="options()">{{ login.user.username }}</button>
                    @if(toggle){
                        <div>
                            <button class="btn btn-outline-secondary" (click)="logout()">Logout</button>    
                        </div>
                    }
                }@else{
                    <a class="btn btn-outline-primary" routerLink="/login">Login</a>
                }
            </span>
        </div>
    </div>
</nav>