<div class="container my-2">
    @if(isAdmin){
        <button class="btn btn-primary" routerLink="/userForm">Crear Usuario</button>
    }
    <div class="row">
        @if(open) {
            <div class="abrir-modal animacion fadeIn">
                <user-form
                    [user] = "selectedUser"
                    (newUserEventEmitter)="addUser($event)"
                    (openEventEmitter)="setOpen()">
                </user-form>
            </div>
            
        }
        <div class="col">
            <userview 
                [users]="users" 
                (idUserEventEmitter)="removeUser($event)" 
                (userEventEmitter)="updateUser($event)">
            </userview>
            <paginator
                [paginator]="paginator"
                [url]="url">
            </paginator>
        </div>
    </div>
</div>
